#container {
  text-align: center;
  
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  
  color: #8c8c8c;
  
  margin: 0;
}

#container a {
  text-decoration: none;
}
.image-container {
  width: 50px;  /* Your desired width */
  height: 50px; /* Your desired height */
  
  /* Optional: for rounded images */
  border-radius: 50%;
  overflow: hidden;
}

.image-container ion-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This prevents the image from being stretched */
}
